@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300;400&display=swap");
@media (max-width: 880px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0px;
    background: black;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
#hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
:root {
  --bgd-color-primary: #272727;
  --bgd-color-secondary: #121212;
  --color-green: rgb(3, 152, 158);
  --color-white: #fff;
}

#moon,
#light {
  color: var(--color-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 40px 0;
}

#logo {
  font-family: "Inter", sans-serif;
  color: var(--color-green);
  font-size: 1.5rem;
  font-weight: 800;
}

#nav1 {
  display: flex;
  justify-content: center;
  background-color: var(--bgd-color-secondary) !important;
}

.nav-item a {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: var(--color-white) !important;
  text-decoration: none;
  transition: 0.7s;
}

#nav-a:hover {
  color: var(--color-green) !important;
}

.navbar-ul {
  list-style: none;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 0 1rem;
}

.navbar-toggler {
  background-color: rgb(3, 152, 158) !important;
}

.home {
  height: auto;
  background-color: var(--bgd-color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5rem 0;
}

.home-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}

.home-text h2 {
  font-family: "Roboto", sans-serif;
  color: var(--color-white);
  font-size: 1.5rem;
  text-transform: uppercase;
}

.home-text h1 {
  font-family: "Roboto", sans-serif;
  color: rgb(3, 152, 158);
  font-size: 2.5rem;
  text-transform: uppercase;
}

.btn-github {
  display: flex;
  height: 50px;
  width: 120px;
  border: 3px solid rgb(3, 152, 158);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
}
.btn-github:hover {
  background-color: var(--bgd-color-primary);
}

.btn-github a {
  text-decoration: none;
  color: var(--color-white);
  font-family: roboto;
  font-size: 1.2rem;
  padding: 8px 17px;
}
.btn-github a:hover {
  color: var(--color-white);
}

.btn-github i {
  color: var(--color-white);
}

.home-image img {
  height: 400px;
}

.about {
  background-color: var(--bgd-color-primary);
  height: auto;
  padding: 5rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.btn-curriculo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 120px;
  border: 3px solid rgb(3, 152, 158);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
}
.btn-curriculo:hover {
  background-color: var(--bgd-color-secondary);
}

.btn-curriculo i {
  color: var(--color-white);
}

.btn-curriculo a {
  display: flex;
  gap: 8px;
  text-decoration: none;
  color: var(--color-white);
  font-family: roboto;
  font-size: 1.2rem;
  padding: 4px;
}
.btn-curriculo a:hover {
  color: var(--color-white);
}

.btn-curriculo p {
  margin-top: 1.5rem;
}

.text-about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.text-about h1 {
  font-family: "Roboto", sans-serif;
  color: var(--color-white);
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.text-about p {
  font-family: "Roboto", sans-serif;
  color: var(--color-white);
  font-size: 1rem;
  max-width: 600px;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.image-about {
  margin-bottom: 1rem;
}

.image-about img {
  height: 300px;
  width: 300px;
}

.icons-skills {
  width: 100px;
  height: 100px;
}

.skills-container {
  background-color: var(--bgd-color-secondary);
  height: 600px;
  scroll-margin-bottom: 8em;
}

.skills-pd h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: var(--color-white);
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5rem;
}

.skills-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
  padding-bottom: 70px;
  padding-top: 5rem;
}

.container-skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.skill-box {
  height: 106px;
  width: 106px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.7s;
  opacity: 0.5;
}
.skill-box:hover {
  transform: scale(1.1);
  opacity: 1;
}

.container-description {
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: center;
}

.experience {
  background-color: var(--bgd-color-primary);
  height: auto;
  scroll-margin-bottom: 8em;
}

#experience h1 {
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.experience-img img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.experience-container-one,
.experience-container-two {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
  padding-bottom: 5rem;
}

.experience-content {
  width: 45%;
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
}

.experience-content h3 {
  font-size: 1.5rem;
}

.experience-company {
  color: rgb(3, 152, 158);
  font-size: 32px;
  padding: 1rem 0;
}

.experience-content p {
  font-size: 1rem;
}

#projects {
  background-color: var(--bgd-color-secondary);
  height: auto;
  padding: 2rem 0;
  scroll-margin-bottom: 8em;
}

.projects-container h1 {
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.card {
  position: relative;
}

.card small {
  position: absolute;
  top: -10%;
  width: max-content;
  font-size: 12px;
  max-width: 250px;
  font-family: Roboto, sans-serif;
  padding: 6px;
  background-color: var(--bgd-color-secondary);
  border-radius: 4px;
  color: var(--color-white);
}

#tooltip-gomes:hover:before {
  top: 30%;
  opacity: 1;
  display: inline;
}

.cards-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.card-body {
  background-color: var(--bgd-color-primary);
  color: var(--color-white);
  height: 20rem;
}

.card img {
  width: 285px;
  height: 150px;
  margin: 0 auto;
  transition: 0.7s;
}
.card img:hover {
  transform: scale(1.1);
}

#card-btn i {
  padding: 10px 0;
  color: var(--color-white);
}

#card-btn {
  background-color: transparent;
  height: 3rem;
  width: 8.7rem;
  border: 3px solid rgb(3, 152, 158);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
  color: var(--color-white);
  font-size: 1.3rem;
  margin-top: 1.5rem;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#card-btn:hover {
  background-color: var(--bgd-color-secondary);
}

#card-btn img {
  height: 3rem;
  width: 2.5rem;
}

.upbutton i {
  position: fixed;
  bottom: 15px;
  left: 95%;
  color: var(--color-green);
  cursor: pointer;
  font-size: 3rem;
}

.footer-content img {
  width: 60px;
}

.footer-content p {
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.footer-tooltip a {
  color: rgb(3, 152, 158);
  text-decoration: none;
  position: relative;
}

.footer-tooltip a::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  width: max-content;
  font-size: 12px;
  max-width: 250px;
  margin-top: 8px;
  padding: 6px;
  background-color: var(--bgd-color-secondary);
  border-radius: 4px;
  color: var(--color-white);
  opacity: 0;
  display: none;
}

#tooltip:hover:before {
  top: 100%;
  opacity: 1;
  display: inline;
}

.footer-contacts {
  display: flex;
  gap: 2rem;
}

.footer-icon:hover {
  transform: rotate(-360deg);
}

.footer-icon {
  border-radius: 100%;
  transition: ease-in-out 0.3s;
}

.footer-content {
  height: auto;
  padding: 1rem 0;
  background-color: var(--bgd-color-primary);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-content bold {
  color: rgb(3, 152, 158);
  font-weight: 900;
}

@media (max-width: 1150px) {
  #home {
    height: 60vh;
    text-align: center;
    padding-top: 4rem;
  }
  .btn-github {
    margin: 0 auto;
  }
  .home-image {
    display: none;
  }
  .about {
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: auto;
  }
  .text-about {
    text-align: center;
  }
  .btn-curriculo {
    margin: 0 auto;
  }
  #skills {
    background-color: var(--bgd-color-secondary);
    height: 800px;
  }
  #projects {
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
@media (max-width: 994px) {
  .navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 1rem 0rem;
  }
  .upbutton i {
    visibility: hidden;
  }
}
@media (max-width: 750px) {
  .home-text h1 {
    font-size: 2.5rem;
  }
  .home-text h2 {
    font-size: 1.5rem;
  }
  .text-about p {
    max-width: 500px;
  }
  .experience-container-one,
.experience-container-two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  .experience-content {
    width: 80%;
  }
  .experience-content p {
    font-size: 16px;
  }
}
@media (max-width: 545px) {
  .text-about p {
    max-width: 420px;
  }
  .footer-content p {
    font-size: 0.8rem;
  }
  .footer-content {
    flex-direction: column;
  }
  .experience-content p {
    font-size: 0.8rem;
  }
  #skills {
    background-color: var(--bgd-color-secondary);
    height: 1000px;
  }
}
@media (max-width: 440px) {
  .text-about p {
    max-width: 350px;
  }
  #experience h1,
.skills-pd h1,
.text-about h1 {
    font-size: 2rem;
  }
}
@media (max-width: 340px) {
  .footer-content p {
    font-size: 0.6rem;
  }
}

/*# sourceMappingURL=style.css.map */
