@import "./others/colors.scss";
@import "./others/menu-mobile.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 10vh;
  background-color: $bgd-color-primary;
}

.container {
  padding: 40px 0;
}

#logo {
  font-family: "Inter", sans-serif;
  color: $color-green;
  font-size: 2rem;
  font-weight: 800;
}


.nav-item a {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: 0.7s;
}

#nav-a:hover {
    color: $color-green;
}

.navbar-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: white;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 0 1rem;
}

.home {
  height: 100vh;
  background-color: $bgd-color-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.home-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}

.home-text h2 {
  font-family: "Roboto", sans-serif;
  color: $color-white;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.home-text h1 {
  font-family: "Roboto", sans-serif;
  color: $color-green;
  font-size: 3.5rem;
  text-transform: uppercase;
}

.btn-github {
  display: flex;
  height: 70px;
  width: 160px;
  border: 3px solid $color-green;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
  &:hover {
    background-color: $bgd-color-primary;
  }
}

.btn-github a {
  text-decoration: none;
  color: $color-white;
  font-family: roboto;
  font-size: 1.5rem;
  padding: 15px 22px;
  &:hover{
    color: $color-white;
  }
}

.btn-github img{
  width: 2rem;
}

.about {
    background-color: $bgd-color-primary;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.btn-curriculo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 160px;
  border: 3px solid $color-green;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
  &:hover {
    background-color: $bgd-color-secondary;
  }
}

.btn-curriculo img {
  width: 2rem;
}

.btn-curriculo a {
  display: flex;
  gap: 8px;
  text-decoration: none;
  color: $color-white;
  font-family: roboto;
  font-size: 1.5rem;
  padding: 4px;
  &:hover{
    color: $color-white;
  }
}

.btn-curriculo p {
  margin-top: 1.5rem;
}

.text-about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-about h2 {
  font-family: "Roboto", sans-serif;
  color: $color-white;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 3rem;
}

.text-about p {
  font-family: "Roboto", sans-serif;
  color: $color-white;
  font-size: 1.5rem;
  max-width: 600px;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.image-about {
  margin-bottom: 1rem;
}





.technology {
  height: 50vh;
  background-color: $bgd-color-secondary;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.technology h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: $color-white;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-top: 3rem;
}

.tech-images{
  display: flex;
  gap: 4rem;
}

.html-icon{
  // visibility: hidden;

}
.html-text{
  // visibility: hidden;
}
.html-text:hover{
  background-color: white;
  transform: scale(1.05);
}

@media (max-width: 1150px) {
  #home {
   height: 100vh; 
   text-align: center;
   margin-top: 4rem;
  }
  .btn-github {
    margin: 0 auto;
  }
  .home-image {
    display: none;
  }
  .about {
  height: 120vh; 
  gap: 0rem;
  }
  .text-about {
    text-align: center;
  }
  .btn-curriculo {
    margin: 0 auto;
  }
}

@media (max-width: 994px){
  .navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 1rem 0rem;
  }
}

@media (max-width: 750px){
  .home-text h1{
    font-size: 2.5rem;
  }
  .home-text h2{
    font-size: 1.5rem;
  }
  .text-about p {
    max-width: 500px;
  }
}

@media (max-width: 530px){
  .text-about p {
    max-width: 420px;
  }
}

@media (max-width: 440px){
  .text-about p {
    max-width: 350px;
  }
  .image-about img{
    height: 300px;
  }
  .about {
    height: 120vh;
  }
}