@import "./others/colors.scss";
@import "./others/menu-mobile.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 40px 0;
}

#logo {
  font-family: "Inter", sans-serif;
  color: $color-green;
  font-size: 1.5rem;
  font-weight: 800;
}

.nav-item a {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: 0.7s;
}

#nav-a:hover {
  color: $color-green;
}

.navbar-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: white;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 0 1rem;
}

.navbar-toggler {
  background-color: $color-green !important;
}

.home {
  height: 100vh;
  background-color: $bgd-color-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5rem;
}

.home-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}

.home-text h2 {
  font-family: "Roboto", sans-serif;
  color: $color-white;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.home-text h1 {
  font-family: "Roboto", sans-serif;
  color: $color-green;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.btn-github {
  display: flex;
  height: 50px;
  width: 120px;
  border: 3px solid $color-green;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
  &:hover {
    background-color: $bgd-color-primary;
  }
}

.btn-github a {
  text-decoration: none;
  color: $color-white;
  font-family: roboto;
  font-size: 1rem;
  padding: 8px 15px;
  &:hover {
    color: $color-white;
  }
}

.btn-github img {
  width: 2rem;
}

.home-image img {
  height: 400px;
}

.about {
  background-color: $bgd-color-primary;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.btn-curriculo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 120px;
  border: 3px solid $color-green;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
  &:hover {
    background-color: $bgd-color-secondary;
  }
}

.btn-curriculo img {
  width: 1rem;
}

.btn-curriculo a {
  display: flex;
  gap: 8px;
  text-decoration: none;
  color: $color-white;
  font-family: roboto;
  font-size: 1rem;
  padding: 4px;
  &:hover {
    color: $color-white;
  }
}

.btn-curriculo p {
  margin-top: 1.5rem;
}

.text-about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.text-about h1 {
  font-family: "Roboto", sans-serif;
  color: $color-white;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.text-about p {
  font-family: "Roboto", sans-serif;
  color: $color-white;
  font-size: 1rem;
  max-width: 600px;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.image-about {
  margin-bottom: 1rem;
}

.image-about img {
  height: 300px;
  width: 300px;
}

.icons-skills {
  width: 100px;
  height: 100px;
}

.skills-container {
  background-color: $bgd-color-secondary;
  height: 100vh;
  scroll-margin-top: 8em;
}

.skills-pd h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: $color-white;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5rem;
}

.skills-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
  padding-bottom: 70px;
  padding-top: 5rem;
}

.container-skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.skill-box {
  height: 106px;
  width: 106px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

.container-description {
  color: $color-white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding-top: 2rem;
}

.experience {
  background-color: $bgd-color-primary;
  height: 160vh;
  scroll-margin-top: 7em;
}

#experience h1 {
  color: $color-white;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.experience-img img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.experience-container-one,
.experience-container-two {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
  padding-bottom: 5rem;
}

.experience-content {
  width: 45%;
  color: $color-white;
  font-family: "Roboto", sans-serif;
}

.experience-content h3 {
  font-size: 1.5rem;
}

.experience-company {
  color: $color-green;
  font-size: 32px;
  padding: 1rem 0;
}

.experience-content p {
  font-size: 1rem;
}

#projects {
  background-color: $bgd-color-secondary;
  height: 100vh;
  scroll-margin-top: 7em;
}

.projects-container h1 {
  color: $color-white;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.cards-projects {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  gap: 5rem;
}

// .card {
//   transition: ease 0.3s;
//   &:hover {
//     transform: scale(1.1);
//   }
// }

.card-body {
  background-color: $bgd-color-primary;
  color: $color-white;
  height: 15rem;
}

.card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding: 10px;
}

#card-btn {
  background-color: transparent;
  height: 3rem;
  width: 8.2rem;
  border: 3px solid $color-green;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
  color: $color-white;
  font-size: 1rem;
  margin-top: 1.5rem;
  padding: 0px 5px;
  &:hover {
    background-color: $bgd-color-secondary;
  }
}

#card-btn img {
  height: 3rem;
  width: 2.5rem;
}

.upbutton {
  display: none;
}

.upbutton img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  left: 95%;
  cursor: pointer;
}

.footer-content img {
  width: 60px;
}

.footer-content p {
  color: $color-white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.footer-contacts {
  display: flex;
  gap: 2rem;
}

.footer-icon:hover {
  transform: rotate(-360deg);
}

.footer-icon {
  border-radius: 100%;
  transition: ease-in-out 0.3s;
}

.footer-content {
  height: 15vh;
  background-color: $bgd-color-primary;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-content bold {
  color: $color-green;
  font-weight: 900;
}
@media (max-width: 1150px) {
  #home {
    height: 60vh;
    text-align: center;
    margin-top: 4rem;
  }
  .btn-github {
    margin: 0 auto;
  }
  .home-image {
    display: none;
  }
  .about {
    height: 120vh;
    gap: 0rem;
  }
  .text-about {
    text-align: center;
  }
  .btn-curriculo {
    margin: 0 auto;
  }
  #skills {
    background-color: $bgd-color-secondary;
    height: 90vh;
  }
  #projects {
    height: 120vh;
  }
}

@media (max-width: 994px) {
  .navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 1rem 0rem;
  }
}

@media (max-width: 750px) {
  .home-text h1 {
    font-size: 2.5rem;
  }
  .home-text h2 {
    font-size: 1.5rem;
  }
  .text-about p {
    max-width: 500px;
  }
  .experience-container-one,
  .experience-container-two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  .experience-content {
    width: 80%;
  }
  .experience-content p {
    font-size: 16px;
  }
}

@media (max-width: 665px) {
  #projects {
    height: 180vh;
  }
}

@media (max-width: 545px) {
  .text-about p {
    max-width: 420px;
  }
  #experience {
    height: 180vh;
  }
  // .footer-content img {
  //   width: 40px;
  // }
  .footer-content p {
    font-size: 0.8rem;
  }
  .footer-content {
    flex-direction: column;
  }
}

@media (max-width: 440px) {
  .text-about p {
    max-width: 350px;
  }
  .image-about img {
    height: 300px;
  }
  .about {
    height: 120vh;
  }
  #experience h1,
  .skills-pd h1,
  .text-about h1 {
    font-size: 2rem;
  }
  #experience {
    height: 200vh;
  }
}

// @media (max-width: 520px){
//   .text-description {
//     height: 150vh;
// }
// }

@media (max-width: 484px) {
  #skills {
    height: auto;
  }
}
